.allBreeds {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .allBreeds > h2 {
    font-size: 5em;
    font-family: var(--second-font);
    color: var(--second);
    padding-bottom: 60px;
  }
  
  .allBreeds__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 40px;
  }
  
  .allBreeds__gridItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 180px;
    width: 200px;
    background-color: var(--dark);
    border-color: var(--dark);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 20px 50px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .allBreeds__gridItem > h3 {
    font-family: var(--main-font);
    color: var(--second);
    padding: 20px;
  }
  
  .allBreeds__gridItem > img, .allBreeds__gridItem {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px ;
  }
  
  .allBreeds__gridItem:hover {
    background-color: var(--light);
  }


  @media screen and (max-width: 800px) {
    .allBreeds__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin-bottom: 20px;
    }
    
    .allBreeds__gridItem {
      margin: 20px 30px;
    }

    .allBreeds > h2 {
      font-size: 4em;
      padding-bottom: 30px;
    }
}