/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700;800;900&display=swap');

:root {
    /* font */
    --main-font: 'Raleway', sans-serif;
    --second-font: 'Philosopher', sans-serif;

    /* colors */
    --main: #A7B9CE;
    --second: #C8B89D;
    --highlight: #DD7D70;
    --dark:  #373737;
    --light: white;
    --overlay: rgba(0,0,0,0.5);
}

/* reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  min-height: 12vh;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: sticky;
  background-color: var(--dark);
}

nav {
  text-align: end;
}

ul > li {
  padding: 40px;
  border-bottom: 1px solid var(--light);
  list-style: none;
  cursor: pointer;
}

ul > li:hover {
  border-bottom: 1px solid var(--second);
}

footer {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
  font-family: var(--main-font);
  padding: 30px;
}

.loading {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/images/loading.jpg');
  background-size: cover;
  padding-bottom: 30px;
  font-size: 5em;
}

.logoWrapper, .logo--gold, .hamburger {
  padding: 10px 25px;
}

.logo--gold, .hamburger--gold {
  fill: var(--second);
}

.hamburger > button {
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar {
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--overlay);
}

.sidebar__link {
  color: var(--light);
  font-family: var(--second-font);
  font-size: 1.7em;
  color: var(--light);
  text-decoration: none;
}

.sidebar__link:hover {
  color: var(--second);
}

.sidebar__link.active, ul > li.active {
  color: var(--second);
}

.sidebar, .sidebar__close {
  position: absolute;
  top: 0;
  right: 0;
}

.sidebar__close {
  background: none;
  border: none;
  cursor: pointer;
  padding: 50px;
}

.sidebar__lastItem {
  border: none;
}

